
#gallery .image {
    position: relative;
    width: 922px; /* for IE 6 */
    z-index: 1000;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
#gallery .image img {
    max-width: 900px;
    max-height: 500px;
}
#gallery .button_next, #gallery .button_prev {
    cursor: pointer;
    position: absolute;
    top: 0px;
    height: 100%;
    width: 50px;
    z-index: 1100;
    background-color: rgba(200, 200, 200, 0.3);
    background-repeat: no-repeat;
    background-position-y: 50%;
}

#gallery .image .article {
    min-height: 50px;
    max-height: 150px;
    overflow: hidden;
    width: 792px;
    background-color: rgba(200, 200, 200, 0.1);
    text-align: left;
    font-size: 16px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 15px;
}

#gallery .image .article p {
    font-size: 14px;
    font-style: italic;
}

#gallery .button_next:hover, #gallery .button_prev:hover {
    background-color: rgba(200, 200, 200, 0.7);
}

#gallery .button_next {
    right: 0px;
    background-image: url('/assets/img/next.png');
    background-position-x: 10px;
}
#gallery .button_prev {
    left: 0;
    background-image: url('/assets/img/prev.png');
    background-position-x: -10px;
}

.list table{
    border-collapse: collapse;
    border-spacing: 0;
    width:944px;
    height:100%;
    margin:0px;
    padding:0px;
    border:1px solid #cccccc !important;
}

.list td{
    vertical-align:middle;
    border:1px solid #cccccc;
    border-width:0px 1px 1px 0px;
    text-align:center;
    padding:2px;
}.list tr:last-child td{
    border-width:0px 1px 0px 0px;
}.list tr td:last-child{
    border-width:0px 0px 1px 0px;
}.list tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}
.list tr:first-child td{
    border:0px solid #cccccc;
    text-align:center;
    border-width:0px 0px 1px 1px;
}
.list tr:first-child td:first-child{
    border-width:0px 0px 1px 0px;
}
.list tr:first-child td:last-child{
    border-width:0px 0px 1px 1px;
}

#gallery table.list a {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 150px;
    height: 150px;
    padding: 1px;
    margin: 2px;
}

#loader {
    background-color: rgba(200, 200, 200, 0.7);
    position: absolute;
    width: 200px;
    height: 90px;
    text-align: center;
    top: 40%;
    left: 380px;
}

#loader img {
    width: 32px !important;
    height: 32px !important;
    max-width: 32px !important;
    max-height: 32px !important;
    min-width: 32px !important;
    min-height: 32px !important;
}

.gallery-pager {
    padding-top: 7px;
    padding-bottom: 7px;
    width: 790px;
    margin: auto;
}

.gallery-pager .pagination {
    margin: auto;
}
