/*Глобальные параметры НАЧАЛО ++++*/

h2 {
    font-size: 26px;
    line-height: 1;
}

h3 {
    font-size: 22px;
    line-height: 1;
}

a {
    color: #039be5 !important; /*Стандартный*/
}

a:hover {
    color: #2F4F4F !important;
}

a:active {
}

a.activated {
    color: white !important;
    /*  text-decoration: underline; */
    border-radius: 1px;
    background: gray;
    border-radius: 3px;
    box-shadow: 2px 1px 3px #777;
}

/*Глобальные параметры КОНЕЦ ++++*/

.nav-btn-mob {
    /*  border: 1px solid red;*/
    padding: 0 !important;
    margin: 0 !important;
    line-height: 1;
}

.nav-btn-mob i{
    margin-left: -20px;
    color: gray;
}

.nav-menu-mob {
    display: none;
}

.topString {
    /*border: 1px solid red;*/
    height: 65px;
}

.topString a{
    /*border: 1px solid red;*/
    vertical-align: baseline !important;
    text-decoration: underline;
}

.logo-link img{
    padding: 0 !important;
    margin-left: -10px;
}

.search-boxer-alex input {
    border: 2px solid gray;
    border-radius: 4px;
    height: 35px;
}

input[type=text]:disabled, input[type=text][readonly="readonly"], input[type=password]:disabled, input[type=password][readonly="readonly"], input[type=email]:disabled, input[type=email][readonly="readonly"], input[type=url]:disabled, input[type=url][readonly="readonly"], input[type=time]:disabled, input[type=time][readonly="readonly"], input[type=date]:disabled, input[type=date][readonly="readonly"], input[type=datetime-local]:disabled, input[type=datetime-local][readonly="readonly"], input[type=tel]:disabled, input[type=tel][readonly="readonly"], input[type=number]:disabled, input[type=number][readonly="readonly"], input[type=search]:disabled, input[type=search][readonly="readonly"], textarea.materialize-textarea:disabled, textarea.materialize-textarea[readonly="readonly"] {
    color: rgba(0, 0, 0, 0.26);
    border: 2px dotted rgba(0, 0, 0, 0.26); }
input[type=text]:disabled + label, input[type=text][readonly="readonly"] + label, input[type=password]:disabled + label, input[type=password][readonly="readonly"] + label, input[type=email]:disabled + label, input[type=email][readonly="readonly"] + label, input[type=url]:disabled + label, input[type=url][readonly="readonly"] + label, input[type=time]:disabled + label, input[type=time][readonly="readonly"] + label, input[type=date]:disabled + label, input[type=date][readonly="readonly"] + label, input[type=datetime-local]:disabled + label, input[type=datetime-local][readonly="readonly"] + label, input[type=tel]:disabled + label, input[type=tel][readonly="readonly"] + label, input[type=number]:disabled + label, input[type=number][readonly="readonly"] + label, input[type=search]:disabled + label, input[type=search][readonly="readonly"] + label, textarea.materialize-textarea:disabled + label, textarea.materialize-textarea[readonly="readonly"] + label {
    color: rgba(0, 0, 0, 0.26); }
input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border: 2px solid #26a69a !important;
    box-shadow: none !important;
    font-size: 20px; }
input[type=text]:focus:not([readonly]) + label, input[type=password]:focus:not([readonly]) + label, input[type=email]:focus:not([readonly]) + label, input[type=url]:focus:not([readonly]) + label, input[type=time]:focus:not([readonly]) + label, input[type=date]:focus:not([readonly]) + label, input[type=datetime-local]:focus:not([readonly]) + label, input[type=tel]:focus:not([readonly]) + label, input[type=number]:focus:not([readonly]) + label, input[type=search]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #26a69a; }
input[type=text].valid, input[type=text]:focus.valid, input[type=password].valid, input[type=password]:focus.valid, input[type=email].valid, input[type=email]:focus.valid, input[type=url].valid, input[type=url]:focus.valid, input[type=time].valid, input[type=time]:focus.valid, input[type=date].valid, input[type=date]:focus.valid, input[type=datetime-local].valid, input[type=datetime-local]:focus.valid, input[type=tel].valid, input[type=tel]:focus.valid, input[type=number].valid, input[type=number]:focus.valid, input[type=search].valid, input[type=search]:focus.valid, textarea.materialize-textarea.valid, textarea.materialize-textarea:focus.valid {
    border: 2px solid #4CAF50;}
input[type=text].invalid, input[type=text]:focus.invalid, input[type=password].invalid, input[type=password]:focus.invalid, input[type=email].invalid, input[type=email]:focus.invalid, input[type=url].invalid, input[type=url]:focus.invalid, input[type=time].invalid, input[type=time]:focus.invalid, input[type=date].invalid, input[type=date]:focus.invalid, input[type=datetime-local].invalid, input[type=datetime-local]:focus.invalid, input[type=tel].invalid, input[type=tel]:focus.invalid, input[type=number].invalid, input[type=number]:focus.invalid, input[type=search].invalid, input[type=search]:focus.invalid, textarea.materialize-textarea.invalid, textarea.materialize-textarea:focus.invalid {
    border: 2px solid red !important;}

.search-boxer-alex .input-field {
    margin-top: 0 !important;
}

.search-boxer-alex i{
    margin-top: -8px;
    margin-left: -15px;
}

.input-field label.active i {
    border: 2px solid gray !important;
}

/* + Убираем старые настройки с градиентом 
 +++++++++++++++++++++++++++*/

nav {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0 !important;
    height: 100% !important;
    /*background-color: red;*/ /*Меняет цвет навигационного меню*/
}

nav .nav-wrapper{
    margin-left: 0 !important;
    margin-right: 0 !important;
    background: #ECECEC !important;
    height: 100% !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 0 !important;
}

nav .nav-wrapper ul li{
    background: #ECECEC !important;
    color: black !important;
    height: 64px;
}

nav .nav-wrapper ul li a{
    color: black !important;
    height: 64px;
}

nav .nav-wrapper ul li a:hover{
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.advertising {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 70%;
    border: 1px solid gray !important;
    background: #ECECEC !important;
}

/*Блок ХЛЕБНЫЕ КРОШКИ НАЧАЛО*/
.breadcrumb {
}

.breadcrumb>li {
    display:inline-block;
}

.breadCr {
    background-color: #ECECEC !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    line-height: 1;
}

.divider {
    background-color: transparent;
}
/*Блок ХЛЕБНЫЕ КРОШКИ КОНЕЦ*/

.mnf_logo {
    width:160px;
    height:50px;
    padding-top:10px;
}

.mnf_clr {
    padding-top: 10px;
    padding-bottom: 20px;

}

.mnf-name a{
    color: black;
    font-size: 34px;
    padding: 15px 0 20px;
}

small {
    font-size: 14px;
}

.content-wrapper {
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,.15);
}

.button_prev, .button_next {
    color: gray;
    background-color: red;
    cursor: pointer;
    width: 50px;
    z-index: 1100;
    background-color: rgba(200, 200, 200, 0.3);
    background-repeat: no-repeat;
    background-position-y: 50%;
    height: 100%;
}

.nav-arrow {
    margin: 0 !important;
    padding: 0 !important;
}
.button_prev{
    float: left !important;

}

.button_next {
    float: right !important;
}

.button_next:hover, .button_prev:hover {
    background-color: rgba(200, 200, 200, 0.7);
}

.tttt {
    display: flex;
}

#slider {
    position: relative;
    z-index: 1000;
    text-align: center;
    vertical-align: middle;
}

.slider-wrapper {
    margin: 0 auto;
}

.image-big {
    /*border: 2px solid yellow;*/
}

.image-big img{
    margin: auto;
    width: 90%;
    height: 90%;
    max-width: 600px;
}

.gallery img{

}

.mnf_clr {
    min-height: 170px;
}

.gallery {
    margin-top: 15px;
}

.gallery-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 22px;
    margin-bottom: 20px;
}

.catalogList-sortLinks {
    overflow: hidden;
}
.catalogList-sortLinks a {
    float: left;
    height: 33px;
    text-indent: -9999px;
}

a.sorting-cols {
    background: url(/assets/img/sorts-sprite.png) no-repeat;
    width: 56px;
    position: relative;
}
a.sorting-cols:after {
    display: block;
    top: 0;
    right: -1px;
    position: absolute;
    content: ' ';
    background: url(/assets/img/sort_line.png) no-repeat;
    width: 1px;
    height: 33px;
}
a.sorting-cols.active {
    background-position: 0 -33px;
}
a.sorting-rows {
    background: url(/assets/img/sorts-sprite.png) -56px 0 no-repeat;
    width: 55px;
}
a.sorting-rows.active {
    background-position: -56px -33px;
}

.bl_sort-goods {
    padding: 13px;
}

.bl_sort-goods a{
    padding: 5px;
    margin-left: 15px;
}

.item-cat {
    border: 3px solid transparent;
    margin-bottom: 10px;
    padding: 0 !important;
}



.item-cat .item-subscribe {
    padding-left: 5px;
    font-size: 22px;
}


.item-information {
    /*border-radius: 6px 0 0 0;*/
    /*  display: none;*/
    width: 100%;
    border-top: 0;
    /*  position: absolute;*/
    /*  box-shadow: 1px 1px 1px 0px #cdd3d9; */
    /*  border: 2px solid black;*/
    /*  background: #fffafa;*/
    /*  padding: 5px;*/
}

.item-information ul{
    margin-left: 10px;
    font-size: 12px;
    color: black;
    list-style: square outside;
}

.item-information ul li{
    text-align: left;
}

.item-information ul li:nth-child(odd){
    font-weight: bold;
}

.sort-by {
    background: #ECECEC;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pagination li{
    padding: 5px;
    height: 35px !important; 
}

.pagination li.active {
    background: gray !important; }

.pagination a{
    color: black !important;
}

.pagination li.active a {
    color: white !important; }

.pagination-btn {
    background: #ccc !important;
    width: auto !important;
    border-radius: 3px;
    box-shadow: 2px 1px 3px #777;
}

/*+++++++++++++++++++++++++++++++++++++++*/
@media only screen and (max-width : 993px) {

    .container {
        padding: 0 !important;
        width: 95% !important;
    }

    .nav-btn-mob i {
        margin-left: 0px;
        padding-left: 0;
    } 

    .logo-link {
        margin-left: 15px;
    }

    #GoodItem-news, .views-list {
        padding-left: 2px !important;
        padding-right: 2px !important;
    }

}
/*+++++++++++++++++++++++++++++++++++++++++*/

/*.item-cat {
  border: 3px solid transparent;
  margin-bottom: 10px;
  padding: 0 !important;
  float: none !important;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

*/


/*Вывод товаров списком вместо сетки START*/

.item-cat2 {
    /*border: 3px solid red;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    float: none !important;
    width: 100% !important;
    height: 100% !important;
}

.item-cat2 div{
    margin-right: 10px;
    width: 30% !important;
}

.item-cat2 a{
    margin-right: 10px;
    width: 30% !important;
}

/*Вывод товаров списком вместо сетки END*/