* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    color: #000;
    background: #fff;
    font-family: Arial, Verdana, sans-serif;
}

#wrapper {
    overflow: hidden;
}

a > img { border: none; }
:focus { outline: none; }
.clr:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clear { clear:both; }
.flRight { float: right; }
.flLeft { float: left; }
:focus { outline: none; }

section.container {
    width: 944px;
    margin: auto;
}

/* Header */
#header {
    width: 100%;
    background: #fff;
    margin: 0 0 15px;
}
.auth-login { 
    padding: 25px 0 0; 
    margin: 0 0 16px;
}
.auth-login a {
    color: #282828;
    text-decoration: none;
    border-bottom:1px solid #282828;
    font: normal 14px Arial, Verdana, sans-serif;
}
.auth-login a:hover { border-color: #c1501e; }
.input-search {
    background: #fff;
    height: 25px;
    float: left;
    display: block;
    border: 2px solid #a7a7a7;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font: normal 15px/25px Arial, Verdana, sans-serif;
    color: #545454;
    width: 360px;
    padding: 0 10px 0 10px;
}
.submit-search-h {
    display: inline-block;
    float: left;
    background: url(/assets/img/small/submit-search.png) no-repeat;
    width: 26px;
    height: 25px;
    cursor: pointer;
    border: none;
    text-indent: -9999px;
    margin: 0 15px 0 0;
    line-height: 30px;
}
.header-bl2 { margin: 0 0 20px; }

#nav-top { width: 100%; height: 44px; }
#nav-top>ul {
    margin: 1 0 0 -2px;
    padding: 0px;
    background: url(/assets/img/nav_top_bg_repeat.png) repeat-x top center;
    width: 942px;
    height: 38px;
    border: 1px solid #ccc;
}

#nav-top>ul>li:last-child {
    float: left;
    position: relative;
    border-right: 0px !important;
}

#nav-top>ul>li {
    float: left;
    position: relative;
    border-right: 1px solid #ccc;
}
#nav-top>ul>li>ul {
    position: absolute;
    z-index: 305;
    top:38px;
    left:2px;
    display: none;
    background: #fff;
    border: 1px solid #cdcdcd;
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.25);
    -moz-box-shadow: 2px 2px 3px rgba(0,0,0,0.25);
    box-shadow: 2px 2px 3px rgba(0,0,0,0.25);
}
#nav-top>ul>li>ul li a {
    width: 120px;
    display: block;
    text-decoration: none;
    font: normal 14px/30px Arial, Verdana, sans-serif;
    color: #545454;
    padding-left: 15px;
}
#nav-top>ul>li>ul li a:hover { background: #eeeeee; }
#nav-top>ul>li>a {
    display: block;
    text-decoration: none;
    font: normal 16px/39px Arial, Verdana, sans-serif;
    color: #020202;
    min-width: 90px;
    max-width: 250px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}
#nav-top>ul>li>a:hover,
#nav-top>ul>li.active {
    background: url(/assets/img/nav-top_bg-hover.png) repeat-x;
}
/* END Header */


/* Content */
#wrapper_c {
    margin: 0 0 40px;
}

.i-informers-inlinebl {
    float: left;
    width: 300px;
    margin-right: 20px;
}
.i-informers-inlinebl:last-child { margin-right: 0;}
.informer {
    width: 298px;
    margin:0 0 40px;
}
.informer:last-child { margin-bottom: 0px;}
.informer-top {
    border: 1px solid #c7c7c7;
    height: 26px;
    line-height: 26px;
    background: #ffffff;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f3f3f3));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );
}
.informer-title {
    font: normal 15px/26px Arial, Verdana, sans-serif;
    color: #545454;
    display: block;
    margin-left: 10px;
}
.informer-c {
    padding: 10px 0;
    border: 1px solid #dfdfdf;
    min-height: 140px;
}
.informer-bottom {
    margin: -1px 0 0;
    border: 1px solid #c7c7c7;
    height: 27px;
    line-height: 27px;
    background: #ffffff;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f3f3f3));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );
}
.informer-icon-rating {
    display: block;
    background: url(../img/small/informer-icon_1.png) no-repeat;
    width: 13px;
    height: 12px;
}
.informer-icon-likes {
    display: block;
    background: url(../img/small/informer-icon_2.png) no-repeat;
    width: 16px;
    height: 15px;
}
.informer-icon-price {
    display: block;
    background: url(../img/small/informer-icon_3.png) no-repeat;
    width: 16px;
    height: 15px;
}
.cur-rub {
    display: block;
    background: url(/assets/img/small/informer-icon_4.png) no-repeat;
    width: 9px;
    height: 12px;
}
.cur-dol {
    display: block;
    background: url(/assets/img/small/informer-icon_5.png) no-repeat;
    width: 8px;
    height: 14px;
}
.cur-eur {
    display: block;
    background: url(/assets/img/small/informer-icon_6.png) no-repeat;
    width: 9px;
    height: 13px;
}
#informer-top-menu>ul>li {
    float: left;
    position: relative;
}

#informer-top-menu .informer-curr-bl ul{ display: none; }
#informer-top-menu>ul>li:hover>ul { 
    display: block; 
    position: absolute;
    left:-1px;
    top: 26px;
    z-index: 200;
}
#informer-top-menu>ul>li.active>a  {
    background-color: rgba(238,238,238,0.5);
}
#informer-top-menu>ul>li>a { 
    height: 26px; 
    background-position: center center;
    padding: 0 10px;
}
.informer-b-left img {
    vertical-align:middle;
    margin-left: 6px;
}

.informer-t-left { float: left; }
.informer-t-right { float: right; }

#informer-b-r-links { 
    position: relative;
    margin:0;
    padding:0;
    list-style: none;
}
#informer-b-r-links li { float:left;}


.informer-link-share {
    display: block;
    background: url(../img/small/informer-icon_7.png) no-repeat center center;
    width: 17px;
    height: 27px;
    margin-right: 15px;
}
.informer-link-send {
    display: block;
    background: url(/assets/img/small/informer-icon_8.png) no-repeat center center;
    width: 22px;
    height: 27px;
    margin-right: 8px;
}
#informer-b-r-links li:hover .submenu {
    display: block;
}
#informer-b-r-links li .submenu {
    display: none;
    width: 153px;
    top: 38px;
    left: -16px;
    position: absolute;
}
.submenu>nav>a:hover { opacity:.6; }
#informer-b-r-links li .submenu>nav {
    padding: 6px 0 6px 15px; 
    background: #eee;
    border: 1px solid #c6c6c6;
    -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
    -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
}
#informer-b-r-links li .submenu:before {
    content: '';
    position: absolute;
    top: -11px;
    left: 0;
    background: url(/assets/img/small/share-block-tooltip.png) no-repeat 12px 0;
    width: 100%;
    height: 12px;
    display: block;
}
#informer-b-r-links li .submenu>nav a {
    height: 24px;
    width: 24px;
    display: block;
    float: left;
    margin-right: 8px;
    border: none;
}
#informer-b-r-links li .submenu>nav>a:last-child { margin-right: 0 !important; }
.share_block-fb { 
    background: url(/assets/img/small/soc/fb.png) no-repeat;
}
.share_block-tw { 
    background: url(/assets/img/small/soc/tw.png) no-repeat;
}
.share_block-vk { 
    background: url(/assets/img/small/soc/vk.png) no-repeat;
}
.share_block-gp { 
    background: url(/assets/img/small/soc/gp.png) no-repeat;
}


#price_li_informer {
    position: relative;
    margin-left: 6px;
}
#like_li_informer { margin-left: 6px; }
#price_li_informer>a { margin-right: 28px; padding-right:0px;}
.informer-curr-bl {
    position: absolute;
    top: 0;
    right:-1px;
    width: 37px;
    border-right: 1px solid rgba(0, 0, 0, 0);
}
.informer-curr-bl a {
    height: 26px;
    background-position: 13px center;
}
#price_li_informer>a { padding-right:0 !important;}
.drpd_arrow-informer {
    display: inline-block;
    height: 26px;
    background: url(/assets/img/small/dropdown-arrow.png) no-repeat 0 7px;
    width: 7px;
    margin-left: 4px;
}
.informer_currency-select { padding-left: 20px !important; }
.informer-curr-bl.open {
    background: #FFF;
    border-left: 1px solid #C7C7C7;
    border-right: 1px solid #C7C7C7;
    border-bottom: 1px solid #C7C7C7;
    width: 37px;
}
.informer-curr-bl.open ul { display: block !important; }
.informer-curr-bl>ul>li>a {
    width: 33px;
}
.informer-b-left { float:left;}
.informer-b-right { float: right; }

.informer-listGoods {
    margin:0;
    padding:0;
    list-style-type:none;
}
.informer-listGoods>li { 
    overflow: hidden;
    margin: 0 0 20px;
}
.informer-listGoods>li:last-child { margin-bottom:0;}
.informer-listGoods>li>div { float: left;}
.informer-listGoods_photo {
    width: 35px;
    height: 38px;
    margin: 0 12px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.informer-listGoods_photo img { border: none; }
.informer-listGoods_desc {
    color: #7a7a7a;
    font: normal 11px Arial, Verdana, sans-serif;
    width: 83px;
    margin-right: 20px;
}
.informer-listGoods_desc a {
    color: #7a7a7a;
    text-decoration: none;
}
.informer-listGoods_desc a:hover { color: #5b5b5b; }
.informer-listGoods_rating,
.informer-listGoods_like {
    color: #545454;
    font: normal 16px Arial, Verdana, sans-serif;
    margin-right: 20px;
    width: 27px;
    text-align: center
}
.informer-listGoods_rating { margin-right: 16px; }
.informer-listGoods_price {
    color: #545454;
    font: normal 11px/20px Arial, Verdana, sans-serif;
}

h1 {
    color: #545454;
    font: normal 30px Arial, Verdana, sans-serif;
    margin: 0;
}
h1.title {
    padding-left: 20px;
    margin: 0 0 16px;
}

.bl_sort {
    background: #f3f3f3;
    height: 30px;
    width: 100%;
    font: normal 12px/30px Arial, Verdana, sans-serif;
    color: #191919;
}
.bl_sort span {
    float: left;
}
.bl_sort-t {
    margin: 0 10px 0 20px;
}
.bl_sort-link { margin-right: 5px; }
.bl_sort a {
    color: #252525;
    font-style: italic;
    text-decoration: none;
    padding: 2px 10px;
}
.bl_sort a:hover,
.bl_sort a.active { background: #fff; }

/* rating */
.rating{
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}
.rating li{
    float: left;
    width: 17px;
    height: 15px;
    margin-right: 2px;
    text-indent: -9999px;
    overflow: hidden;
}
.rating a{
    display: block;
    background: url(/assets/img/small/star.png) no-repeat;
    height: 100%;
}
.rating .full a, .rating .full2 a{background-position: 0 -15px;}
.empty a { background-position: 0 0; }
/* rating */


.search_result-id,
.search_result-photo,
.search_result-desc { float: left; }

.search_result-desc {
    width: 535px;
}
.search_result-text {
    color: #7d7d7d;
    font: normal 12px Arial, Verdana, sans-serif;
}
h2 {
    color: #3b3b3b;
    font: normal 18px Arial, Verdana, sans-serif;
    margin:0;
}
h2.search_result-nameItem {
    margin: 0 0 20px;
}
h2.search_result-nameItem a {
    text-decoration: none;
    color: #3b3b3b;
}
h2.search_result-nameItem a:hover { color: #c1501e;}
.search_result-bl {
    margin:0;
    padding:0;
    list-style: none;
}
.search_result-bl li {
    overflow: hidden;
    padding: 25px 0;
}
.search_result-bl li:hover,
.search_result-bl li.active { background: #f3f3f3; }

.search_result-photo {
    width: 100px;
    text-align: center;
    margin-right: 35px;
}
.search_result-id {
    margin: 0 35px 0 45px;
    color: #3b3b3b;
    font: normal 18px Arial, Verdana, sans-serif;
}
.search_result-price {
    text-align: right;
    color: #3b3b3b;
    font: normal 18px Arial, Verdana, sans-serif;
    margin: 0 0 30px;
}
.search_result-p_r { margin-right: 10px; }

#pagination { 
    overflow: hidden;
    margin: 20px 0 0 75px;
}
#pagination > a,
#pagination > span {
    float: left;
    display: block;
    text-decoration: none;
}
#pagination > a {
    border-width: 1px;
    border-style: solid;
    border-color: #dadada #bdbdbd #9e9e9e #bdbdbd;
    height: 30px;
    font: normal 14px/30px Arial, Verdana, sans-serif;
    padding: 0 10px;
    color: #3b3b3b;
    background: #fff;
    background: -moz-linear-gradient(top, #fff 0%, #e6e6e6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#e6e6e6));
    background: -webkit-linear-gradient(top, #fff 0%, #e6e6e6 100%);
    background: -o-linear-gradient(top, #fff 0%, #e6e6e6 100%);
    background: -ms-linear-gradient(top, #fff 0%, #e6e6e6 100%);
    background: linear-gradient(to bottom, #fff 0%, #e6e6e6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#e6e6e6',GradientType=0 );
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-right: 5px;
}
#pagination a:hover {
    -webkit-box-shadow: inset 0 0 8px #AAA;
    -moz-box-shadow: inset 0 0 8px #AAA;
    box-shadow: inset 0 0 8px #AAA;
}
#pagination > a.pag_prev {
    margin-right: 20px;
    padding: 0 30px;
}
#pagination > a.pag_next {
    margin-left: 20px;
    padding: 0 30px;
}
#pagination > span {
    line-height: 30px;
    margin: 0 10px 0 5px;
}

.col-infoGoods,
.col-infoReview,
.col-infoPrices,
.col-sidebars { float: left; }
.col-infoGoods {
    width: 540px;
}

.col-infoReview {
    width: 705px;
    margin-right: 15px;
}
.infoGoodItem-title-2_name {
    display: block;
    float: left;
    margin: 0 20px 0 15px;
    font: normal 12px/38px Arial, Verdana, sans-serif;
    color: #7d7d7d;
}
.infoGoodItem-title-1 {
    height: auto;
    border: 1px solid #c0c0c0;
    width: 100%;
    background: #fff;
    background: -moz-linear-gradient(top, #fff 0%, #f3f3f3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#f3f3f3));
    background: -webkit-linear-gradient(top, #fff 0%, #f3f3f3 100%);
    background: -o-linear-gradient(top, #fff 0%, #f3f3f3 100%);
    background: -ms-linear-gradient(top, #fff 0%, #f3f3f3 100%);
    background: linear-gradient(to bottom, #fff 0%, #f3f3f3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f3f3f3',GradientType=0 );
}
.infoGoodItem-title-1 h1 {
    font: normal 18px Arial, Verdana, sans-serif;
    color: #7a7a7a;
    padding: 20px 0 16px 16px;
}

.infoGoodItem-title-2 {
    border-top: 1px solid #a3a3a3;
    border-bottom: 1px solid #a3a3a3;
    border-right: 1px solid #bcbcbc;
    border-left: 1px solid #bcbcbc;
    height: 38px;
    line-height: 38px;
    width: 100%;
    border-top:none;
    -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 3px 3px rgba(0,0,0,0.15);
    box-shadow: 0 3px 3px rgba(0,0,0,0.15);
    position: relative;
    z-index: 5;
    overflow: hidden;
}
.bx-loading {
    z-index: 5 !important;
}

.infoGoodItem-title-2_list {
    display: inline-block;
    float: left;
    margin:0;
    padding:0;
    list-style: none;
    overflow: hidden;
}
.infoGoodItem-title-2_list li {
    float: left;
    margin-right: 18px;
    color: #7d7d7d;
    font: normal 18px/38px Arial, Verdana, sans-serif;
}
.infoGoodItem-title-2_list .item1 {
    background: url(/assets/img/small/icon-item1.png) no-repeat left center;
    padding-left: 18px;
}
.infoGoodItem-title-2_list .item2 {
    background: url(/assets/img/small/icon-item2.png) no-repeat left center;
    padding-left: 22px;
}
.infoGoodItem-title-2_list .item3, .mnf_clr .item3 {
    background: url(/assets/img/small/icon-item3.png) no-repeat left center;
    padding-left: 21px;
}
.mnf_clr > small {
    font-size: 12px;
}

.infoGoodItem-title-2_list .item0 {
    background: transparent;
    padding-left: 21px;
}


.infoGoodItem-title-2 .flRight { margin-right: 16px; }


.infoGoodItem-wpcontent {
    width: 100%;
    background: #fff;
    border: 1px solid #dfdfdf;
    border-top: 0;
}
.infoGoodItem-wp-photos_main {
    float: left;
    background: #fff;
    margin: 15px 15px 3px 15px;
}
.infoGoodItem-wp-photos_main img { 
    max-width: 510px;
    max-height: 510px;
}

.infoGoodItem-wp-photos_main .big_image {
    width: 510px;
    height: 510px;
    display: table-cell; 
    vertical-align: middle;
    text-align: center;
}

.infoGoodItem-wp-photos_all {
    float: left;
    margin: 5px 0 0;
    padding-left: 10px;
}
.infoGoodItem-wp-photos_all .slide {
    width: 95px;
    height: 95px;
    border: 1px solid #999;
    float: left;
    margin: 3px 4px 0px 3px;
    padding: 0px;
}

.infoGoodItem-wp-photos_all .slide a {
    margin: 0px;
    padding: 0px;
    display: block;
    width: 95px;
    height: 95px;
    overflow: hidden;
    display: table-cell; 
    vertical-align: middle;
    text-align: center;
}
.infoGoodItem-wp-photos_all .slide a .preview { 
    max-width: 91px;
    margin: 2px;
    max-height: 91px;
    height: auto;
    vertical-align: bottom;
}
.infoGoodItem-wp-photos,
.infoGoodItem-wp-settings,
.infoGoodItem-wp-news,
.infoGoodItem-wp-updates,
.infoGoodItem-wp-comments {
    border-bottom: 1px solid #DFDFDF;
}

section.infoGoodItem_content {
    padding: 25px 20px 20px;
}
.infoGoodItem-infoTitle {
    color: #747474;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 0 20px;
}
.item-set-bl_title {
    color: #747474;
    font: bold 14px Arial, Verdana, sans-serif;
    margin: 15px 0 7px;
}
.item-set-bl_lineText {
    color: #5d5d5d;
    font: normal 12px/12px Arial, Verdana, sans-serif;
    background: url(/assets/img/line_t.png) repeat-x 0 2px;
    margin: 0 0 2px;
}
.item-set-bl_lineText span {
    display: inline-block;
    background: #fff;
}

.item-set-bl_lineText .flLeft span {
    font-weight: bold;
}

.item-set-bl { margin: 0 0 18px;}
.item-set-bl:nth-last-child(2n) { margin-bottom: 35px !important; }
.item-set-bl:last-child { margin-bottom: 0 !important; }
.item-set-bl_lineText .flRight { text-align: right; }
#mobile_s .flRight { line-height: 16px; }

.newsGood-name,
#GoodItem-news span.count {
    display: inline-block;
    color: #5d5d5d;
    font: normal 14px Arial, Verdana, sans-serif;
}
#GoodItem-news span.count { margin-right: 5px; }
#GoodItem-news {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#GoodItem-news div {
    margin: 0 0 20px;
    font: normal 12px 'Segoe UI', Verdana, sans-serif;
}
#GoodItem-news li:last-child { margin: 0;}
.newsGoods-link a { 
    text-decoration: underline;
    color: #0026c8;
    font: normal 12px 'Segoe UI', Verdana, sans-serif;
}
.newsGoods-link a:hover{
    color: #425ED8;
}

.btn-link_st1 {
    display: block;
    text-decoration: none;
    color: #353535;
    font: normal 14px/40px Arial, Verdana, sans-serif;
    background: #efefef;
    background: -moz-linear-gradient(top, #efefef 0%, #dfdfdf 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#dfdfdf));
    background: -webkit-linear-gradient(top, #efefef 0%, #dfdfdf 100%);
    background: -o-linear-gradient(top, #efefef 0%, #dfdfdf 100%);
    background: -ms-linear-gradient(top, #efefef 0%, #dfdfdf 100%);
    background: linear-gradient(to bottom, #efefef 0%, #dfdfdf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#dfdfdf',GradientType=0 );
    border-width: 1px;
    border-style: solid;
    border-color: #dfdfdf #d1d1d1 #a4a4a4 #d1d1d1;
    height: 40px;
    padding: 0 20px;
    outline: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 2px 0 rgba(255,255,255,0.75);
    -moz-box-shadow: inset 0 2px 0 rgba(255,255,255,0.75);
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.75);
}
.infoGoodItem-wp-comments .infoGoodItem-infoTitle { line-height: 40px; margin: 0;}
.infoGoodItem_title-2 { margin: 0 0 6px;}

/* views */
.view_bl-head,
.view_bl-textView,
.view_bl-replyLink {
    padding: 0 20px;
}

.view_bl-avatar {
    width: 40px;
    height: 40px;
    overflow: hidden;
    float: left;
}
.view_bl-h2 {
    float: left;
    margin-left: 10px;
}
.view_bl-date {
    display: block;
    color: #7d7d7d;
    font: italic 12px Arial, Verdana, sans-serif;
    margin: 10px 0 0;
}
.view_bl-h2_name {
    font-weight: bold;
    color: #515050;
    font-size: 14px;
}
.view_bl-textView {
    color: #414141;
    font-size: 12px;
    font-weight: normal;
    margin: 20px 0 10px;
}
.view_bl-replyLink {
    text-align: right;
}
.link-replyView,
.link-st3 {
    display: inline-block;
    text-decoration: underline;
    color: #0017c7;
    font-size: 12px;
    font-weight: normal;
}
.link-replyView:hover,
.link-st3:hover { text-decoration: none; }
.view_bl {
    padding: 0 0 20px;
    margin: 0 0 20px;
    border-bottom: 1px solid #DFDFDF;
}
.view_bl:last-child { border: none; margin-bottom:0;}
.view-title { padding-bottom: 0px !important; }

.rating_like-s {
    overflow: hidden;
    list-style-type: none;
    margin:8px 0 0;
    padding:0;
}
.rating_like-s li { float: left; margin-right: 2px; }
.rating_like-s li:last-child { margin:0;}
span.icon-like {
    display: block;
    background: url(/assets/img/small/icon-like.png) no-repeat 0 0;
    width: 16px;
    height: 15px;
}

/* write view */
.view_read-avatar { 
    margin-right: 10px;
    width: 40px;
    height: 40px;
    overflow: hidden;
}
.view_read-avatar,
.view_read-h2 { float:left; }
.view_r-name {
    font-weight: bold;
    font-size: 14px;
    color: #515050;
}
.view_r-setRating > div {
    font-weight: normal;
    font-size: 12px;
    color: #7d7d7d;
    float: left;
    margin-right: 10px;
}
.view_r-setRating ul {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.view_read-head {
    margin: 0 0 20px;
}
.view_r-setRating { margin: 8px 0 0;}

.textarea-st3 {
    border: 1px solid #dfdfdf;
    width: 478px;
    resize: none;
    padding: 10px;
    height: 38px;
    color: #515050;
    font: normal 13px Arial, Verdana, sans-serif;
}
.view_read-text { margin: 0 0 10px; }
.view_r_b-replytext {
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    color: #7d7d7d;
    margin: 0 0 8px;
}
.view_r_b-linkOff {
    text-align: right;
}
.btn_submit2 {
    cursor: pointer;
    outline: none;
    display: block;
    color: #353535;
    font: normal 14px/40px Arial, Verdana, sans-serif;
    background: #efefef;
    background: -moz-linear-gradient(top, #efefef 0%, #dfdfdf 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#dfdfdf));
    background: -webkit-linear-gradient(top, #efefef 0%, #dfdfdf 100%);
    background: -o-linear-gradient(top, #efefef 0%, #dfdfdf 100%);
    background: -ms-linear-gradient(top, #efefef 0%, #dfdfdf 100%);
    background: linear-gradient(to bottom, #efefef 0%, #dfdfdf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#dfdfdf',GradientType=0 );
    border-width: 1px;
    border-style: solid;
    border-color: #dfdfdf #d1d1d1 #a4a4a4 #d1d1d1;
    height: 40px;
    width: 140px;
    text-align: center;
    outline: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 2px 0 rgba(255,255,255,0.75);
    -moz-box-shadow: inset 0 2px 0 rgba(255,255,255,0.75);
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.75);
}
.view_read-bottom-left { margin: -9px 0 0; }



/* Колонка - цены */
.col-infoPrices {
    width: 180px;
    text-align: center;
}
.bl_min_price.first .bl_min_price-name span,
.bl_min_price.first .bl_min_price-name a {
    color: #7d7d7d;
    font-size: 14px;
    font-weight: normal;
}
.bl_min_price.first .bl_min_price-name a{ text-decoration: none; }
.price_c_minimum {
    font: normal 24px/20px 'Arial Black', Verdana, sans-serif;
    color: #747474;
    display: inline-block;
    background: url(/assets/img/small/icon-rub1.png) no-repeat right center;
    padding-right: 18px;
}
.link-btn_buy-big {
    display: block;
    background: url(/assets/img/btn-price-big.png) no-repeat;
    height: 42px;
    width: 122px;
    text-decoration: none;
    margin: auto;
    text-indent: -9999px;
    outline: none;
}
.bl_min_price.first .bl_min_price-price {
    margin: 4px 0 6px;
}
.bl_min_price.first{ padding-top: 10px; margin: 0 0 25px; }
.bl_min_price { margin: 0 0 20px; }

.bl_min_price .bl_min_price-name span,
.bl_min_price .bl_min_price-name a {
    color: #686868;
    font-size: 12px;
    font-weight: normal;
}
.bl_min_price.first .bl_min_price-name a{ text-decoration: none; }

.price_c_other {
    font: bold 18px/18px Arial, Verdana, sans-serif;
    color: #686868;
    display: inline-block;
    background: url(/assets/img/small/icon-rub2.png) no-repeat right center;
    padding-right: 17px;
}
.link-btn_buy-small {
    display: block;
    background: url(/assets/img/btn-price-small.png) no-repeat;
    height: 22px;
    width: 62px;
    text-decoration: none;
    margin: auto;
    text-indent: -9999px;
    outline: none;
}
.link-btn_buy-small:hover { opacity: 0.8; }
.bl_min_price .bl_min_price-price { margin: 2px 0 6px; }

.sidebar-informer {
    width: 220px;
}
.sidebar-informer .informer-listGoods_photo { margin: 0 5px 0 8px; }
.sidebar-informer .informer-listGoods_desc { margin-right: 12px; }
.sidebar-informer .informer-listGoods_rating { font-size: 14px; width: 24px; padding-top: 10px; margin-right: 10px; }
.sidebar-informer .informer-listGoods_price { line-height: 11px; padding-top: 12px; }
.sidebar-informer #price_li_informer>a { margin-right: 23px; }
.sidebar-informer #price_li_informer { margin-left: 0; }
.sidebar-informer .informer-icon-rating { padding: 0 8px !important;}
.sidebar-informer .informer-title { font-size: 16px; }
.sidebar-informer-pr .informer-title {
    padding-left: 28px;
    background: url(/assets/img/small/icon-item2.png) no-repeat left center;
}
.sidebar-informer-pr .informer-listGoods_desc { margin-right: 16px; width: 110px; }
.sidebar-informer-pr .informer-listGoods_like {
    padding-top: 10px;
    margin-right: 0;
}

.sidebar-informer-rt .informer-title {
    padding-left: 24px;
    background: url(/assets/img/small/icon-item3.png) no-repeat left center;
}

.item_photos_all .slide {
    width: 93px;
    height: 122px;
}

.infoGoodItem { position: relative; }
.wpcontent { 
    padding-top: 100px;
    position: relative;
}

.infoGoodItem-title {
    position: absolute;
    top: 0;
    width: 540px;
    background: #FFF;
    z-index: 205;
}
.infoGoodItem-title.prilip {
    position: fixed !important;
}
.infoGoodItem-title.stop {
    background: #FFF;
    z-index: 99999;
}

.col-infoPrices.prilip {
    position: fixed;
    margin-left: 540px;
}
.col-sidebars.prilip {
    position: fixed;
    margin-left: 720px;
}
.stop { position: relative !important; }

/* LEFT MENU FIXED */
.wpcontent_leftMenu {
    position: absolute;
    top: 102px;
    left: -60px;
}
.wpcontent_leftMenu.prilip {
    position: fixed;
    margin-top: 102px;
    margin-left: -60px;
    top: 0;
    left: inherit;
}

.infoGoodItem-wpcontent {position: relative;}

#fixedLeft-menu {
    margin:0;
    padding:0;
    list-style: none;
    width: 44px;
}
#fixedLeft-menu li {
    margin: 0 0 20px;
    position: relative;
    text-align: center;
}
#fixedLeft-menu li>a { display: inline-block;}
#fixedLeft-menu li.active:after {
    position: absolute;
    display: block;
    content: '';
    background: url(/assets/img/left_menu//arrow.png) no-repeat;
    width: 10px;
    height: 20px;
    top: 9px;
    right: -16px;
}
a.menu_lFix-item1 {
    display: block;
    background: url(/assets/img/left_menu/d1.png) no-repeat 0 0;
    width: 44px;
    height: 37px;
}
li.active a.menu_lFix-item1 { background-position: 0 -37px; }
a.menu_lFix-item2 {
    display: block;
    background: url(/assets/img/left_menu/d2.png) no-repeat 0 0;
    width: 36px;
    height: 36px;
}
li.active a.menu_lFix-item2 { background-position: 0 -36px; }
a.menu_lFix-item3 {
    display: block;
    background: url(/assets/img/left_menu/d3.png) no-repeat 0 0;
    width: 36px;
    height: 41px;
}
li.active a.menu_lFix-item3 { background-position: 0 -41px; }
a.menu_lFix-item4 {
    display: block;
    background: url(/assets/img/left_menu/d4.png) no-repeat 0 0;
    width: 36px;
    height: 30px;
}
li.active a.menu_lFix-item4 { background-position: 0 -30px; }
a.menu_lFix-item5 {
    display: block;
    background: url(/assets/img/left_menu/d6.png) no-repeat 0 0;
    width: 36px;
    height: 33px;
}
li.active a.menu_lFix-item5 { background-position: 0 -33px; }
#fixedLeft-menu li.active:nth-child(5):after { top: 4px; }
/* LEFT MENU FIXED */
.manufacture-categories {
    background: #fff;
    border: 1px solid #e6e6e6;
    box-shadow: 0 2px 3px rgba(0,0,0,0.15);
    padding: 0 0 8px;
}

.mnf_logo {
    float: left;
    width: 160px;
    height: 50px;
    padding-top: 10px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.mnf_clr {
    margin-left: 125px;
}
.mnf-name {
    color: #000;
    font: normal 24px/24px Arial, verdana, sans-serif;
    padding: 15px 0 20px;
}
.mnf-name>a {
    color: #000;
    font: normal 24px/24px Arial, verdana, sans-serif;
    padding: 15px 0 20px;
    text-decoration: none;
}

.mnf-name>a:hover {
    color: #777;
    font: normal 24px/24px Arial, verdana, sans-serif;
    padding: 15px 0 20px;
    text-decoration: underline;
}
.mnf-catLiks>a {
    display: block;
    float: left;
    text-decoration: underline;
    color: #1b61bc;
    font-size: 12px;
    line-height: 12px;
    padding: 4px 12px;
    margin: 0 5px 5px 0;
}
.mnf-catLiks>a:hover {text-decoration: none;}
.mnf-catLiks>a.active {
    background: #eaeaea;
    border-radius: 10px;
    color: #000;
    text-decoration: none;
}

.bl_sort-goods {
    -webkit-box-shadow: 3px 0 3px rgba(0,0,0,0.15);
    -moz-box-shadow: 3px 0 3px rgba(0,0,0,0.15);
    box-shadow: 0 3px 3px rgba(0,0,0,0.15);
    overflow: hidden;
    padding: 8px 0;
    background-color: #f3f3f3;
    border-bottom: 1px solid #aeaeae;
    border-left: 1px solid #bdbdbd;
    border-right: 1px solid #bdbdbd;
    border-top: 1px solid #c8c8c8;
}
.link-sorting {
    text-decoration: none;
    background-color: transparent;
    padding: 3px 15px;
    border-radius: 10px;
    color:#252525 !important;
    font-size: 12px;
    display: block;
    float:left;
}
.link-sorting.active {
    background-color: #fff;
}
.sort-goods-text{
    display: block;
    float: left;
    color: #191919;
    font-size: 12px;
    margin: 3px 10px 0 10px;
} 
.bl_catalogList {
    border: 1px solid #dfdfdf;
    border-top:0;
    padding: 20px 15px 20px;
}
#pagination.nav-to-left {
    margin:5px 0 0 !important;
}

.catalog_st1 {
    list-style: none;
    margin:0;
    padding:0;
    overflow: hidden;
}
.catalog_st1 li {
    text-align: center;
    width: 131px;
    float: left;
    padding: 10px 10px 20px;
}
.catalog_st1 li:hover {background-color: #f3f3f3;}
.catalog_st1 li a {
    text-decoration: none;
    color: #000;
    font-size: 12px;
    font-weight: bold;
}

.catalog_st1-image {
    border: none;
    width: 131px;
    height: 131px;
    margin: 0 0 10px;
    padding: 0px;
    display: table-cell; 
    vertical-align: middle;
    text-align: center;
}

.catalog_st1-image img {
    border: none;
    max-width: 131px;
    max-height: 131px;
    margin: 0px;

}
.bl_catalogList-title {
    color: #010101;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}
.bl_catalogList-top {margin:0 0 20px;}

.catalogList-sortLinks {
    overflow: hidden;
}
.catalogList-sortLinks a {
    float: left;
    height: 33px;
    text-indent: -9999px;
}
a.sorting-cols {
    background: url(/assets/img/sorts-sprite.png) no-repeat 0 0;
    width: 56px;
    position: relative;
}
a.sorting-cols:after {
    display: block;
    top:0;
    right:-1px;
    position: absolute;
    content:' ';
    background: url(/assets/img/sort_line.png) no-repeat;
    width: 1px;
    height: 33px;
}
a.sorting-cols.active {background-position: 0 -33px;}

a.sorting-rows {
    background: url(/assets/img/sorts-sprite.png) no-repeat -56px 0;
    width: 55px;
}
a.sorting-rows.active { background-position: -56px -33px;}
#pagination a.active {font-weight: bold;}

.set_language {
    display: inline-block;
    margin-left: 15px;
    position: relative;
}
.set_language-list {
    display: none;
}
.set_language-list {
    color: #494949;
    font-size: 11px;
    text-transform: uppercase;
    margin: 15px 0 0 -6px;
    text-align: center;
}
.set_language-list li {margin: 15px 0 0;}
.set_language-list a {
    border-bottom: none;
    text-decoration: none;
    font-size: 12px;
}
.set_language span.active {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
a.lang-select {
    text-decoration: none !important;
    border-bottom: 0 !important;
    font-weight: bold;
    background: url(/assets/img/arrow-down.png) no-repeat right center;
    padding-right: 12px;
}
.set_language-inner {
    width: 60px;
    text-align: center;
}
.set_language-inner.active{
    position: absolute;
    z-index: 9999;
    left: -1px;
    top: -15px;
    border: 1px solid #dfdfdf;
    padding: 8px 0 10px;
    margin-top: -9px;
    background: #fff;
    -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.20);
    -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.20);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.20);
}

.catalog_st2 {
    margin:0;
    padding:0;
    list-style: none;
}
.catalog_st2>li {
    overflow: hidden;
    padding: 10px 15px;
}
.catalog_st2>li:hover {background-color: #f3f3f3;}
.catalog_st2-l {
    float: left;
    width: 680px;
}
.catalog_st2-r {
    text-align: right;
    margin-left: 680px;
}

.catalog_st2-l-image {
    border: none;
    width: 131px;
    height: 131px;
    margin: 0 0 10px;
    padding: 0px;
    display: table-cell; 
    vertical-align: middle;
    text-align: center;
}

.catalog_st2-l-image img {
    border: none;
    max-width: 131px;
    max-height: 131px;
    margin: 0px;

}

.catalog_st2-l-info {
    margin-left: 136px;
    padding: 5px 0;
}

.catalog_st2-l-info-title a {
    text-decoration: none;
    color: #3b3b3b;
    font-size: 18px;
}
.catalog_st2-l-info-title {
    margin:0 0 10px;
}
.catalog_st2-l-info-desc {
    color: #7d7d7d;
    font-size: 12px;
}
.bl_catalogList.noPadd {padding:20px 0 !important;}
.bl_catalogList-inner {padding: 0 15px;}

.catalog_st2-r_set1,
.catalog_st2-r_set2,
.catalog_st2-r_set3 {
    color: #7d7d7d;
    font-size: 14px;
    margin: 0 0 6px;
}
.catalog_st2-r_set1 span.icon,
.catalog_st2-r_set2 span.icon,
.catalog_st2-r_set3 span.icon {
    display: inline-block;
}
.catalog_st2-r_set1 span.icon {background: url(/assets/img/small/spisok-icon_set1.png) no-repeat; width: 13px; height: 12px; margin-right: 9px; }
.catalog_st2-r_set2 span.icon {background: url(/assets/img/small/spisok-icon_set2.png) no-repeat; width: 20px; height: 16px; margin-right: 5px; }
.catalog_st2-r_set3 span.icon {background: url(/assets/img/small/spisok-icon_set3.png) no-repeat; width: 16px; height: 15px; margin-right: 8px; }

.catalog_st2-r_price {margin: 0 0 12px;}
.catalog_st2-r_price>span {
    font-weight: bold;
    font-size: 18px;
    color: #000;
    display: inline-block;
    margin-right: 33px;
}
.catalog_st2-r_price {position: relative;}

.catalog_st2-r_price .informer-curr-bl ul {
    display: none;
}
.catalog_st2-r_price .informer_currency-select.cur-rub {margin-top:-3px;}
.catalog_st2-r_price .drpd_arrow-informer {margin-left: 7px;}
.catalog_st2-r_price .informer-curr-bl {border-top:1px solid transparent;}
.catalog_st2-r_price .informer-curr-bl.open {border-top:1px solid #c7c7c7;}
/* END Content */

/*  Breadcrumbs  */
.breadcrumb>.active {
    color: #999;
}
.breadcrumb>li {
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
}

.breadcrumb {
    padding: 8px 15px;
    margin: 0 0 20px;
    list-style: none;
    height: auto;
    border: 1px solid #c0c0c0;
    width: auto;
    max-width: 944px;
    background: #fff;
    background: -moz-linear-gradient(top, #fff 0%, #f3f3f3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#f3f3f3));
    background: -webkit-linear-gradient(top, #fff 0%, #f3f3f3 100%);
    background: -o-linear-gradient(top, #fff 0%, #f3f3f3 100%);
    background: -ms-linear-gradient(top, #fff 0%, #f3f3f3 100%);
    background: linear-gradient(to bottom, #fff 0%, #f3f3f3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f3f3f3',GradientType=0 );
}

.breadcrumb a {
    color: #000;
    text-decoration: none;
}

.breadcrumb a:hover {
    color: #000;
    text-decoration: underline;
}
/* End breacrumbs */

/* Footer */
.f_menu { text-align: center; }
.nav-footer {
    overflow: hidden;
    margin: 0 0 8px;
    border-top: 10px solid #eee;
    border-bottom: 10px solid #eee;
    padding: 20px 0;
}
.nav-footer a {
    display: block;
    font-size: 14px;
    float: left;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #000;
    margin-left: 18px;
}
.nav-footer a:hover { 
    border: none;
}
.f_copyright {
    text-align: right;
    font-size: 12px;
}


/* END Footer */

.errorSummary {
    border: 1px solid #FF5757;
    color: #FF5757;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 3px;
    margin: 5px;
    background: #faebcc;
    font-size: 18px;
}

.errorSummary p {
    font-weight: bold;
    color: D42626;
}

.login-form {
    display: block;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding-top: 7px;
    padding-bottom: 0px;
    -webkit-box-shadow: 4px 4px 12px 0px rgba(50, 50, 50, 0.41);
    -moz-box-shadow:    4px 4px 12px 0px rgba(50, 50, 50, 0.41);
    box-shadow:         4px 4px 12px 0px rgba(50, 50, 50, 0.41);
}

.login-form .row {
    margin-top: 15px;
}

.login-form .row label {
    font-size: 18px;
}

.login-form .row {
    width: 450px;
    margin: auto;
    margin-top: 15px;
}

.row > input[type=text], input[type=password], input[type=email] {
    margin-top: 6px;
    background: #F1F1F1;
    //background: #F1F1F1 url(/assets/img/login-form-input.png) no-repeat;
    background-position: 5px -3px !important;
    padding: 10px 10px 10px 30px;
    width: 400px;
    font-size: 20px;
    color: #666666;
    border: 1px solid #CCC;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #CCC inset, 0 1px 0 #FFF;
    box-shadow: 0 1px 1px #CCC inset, 0 1px 0 #FFF;
}

.row > input[type=password]
{
    background-position: 5px -52px !important;
}

.row > input[type=email]
{
    background-position: 5px -102px !important;
}

.row > input[type=text]:focus, input[type=password]:focus, input[type=email]:focus 
{
    background-color: #FFF;
    border-color: #E8C291;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #e8c291 inset;
    -webkit-box-shadow: 0 0 0 1px #E8C291 inset;
    box-shadow: 0 0 0 1px #E8C291 inset;
}


.row > input[type=submit] {
    font-size: 16px;
    font-family: Arial;
    font-weight: normal;
    min-width: 150px;
    text-decoration: inherit;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #dcdcdc;
    padding: 9px 18px;
    text-shadow: 1px 1px 0px #ffffff;
    -webkit-box-shadow: inset 1px 1px 0px 0px #ffffff;
    -moz-box-shadow: inset 1px 1px 0px 0px #ffffff;
    box-shadow: inset 1px 1px 0px 0px #ffffff;
    cursor: pointer;
    color: #777777;
    display: inline-block;
    background: -webkit-linear-gradient(90deg, #dfdfdf 5%, #ededed 100%);
    background: -moz-linear-gradient(90deg, #dfdfdf 5%, #ededed 100%);
    background: -ms-linear-gradient(90deg, #dfdfdf 5%, #ededed 100%);
    background: linear-gradient(180deg, #ededed 5%, #dfdfdf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ededed",endColorstr="#dfdfdf");
}

.row > input[type=submit]:hover {
    background: -webkit-linear-gradient(90deg, #ededed 5%, #dfdfdf 100%);
    background: -moz-linear-gradient(90deg, #ededed 5%, #dfdfdf 100%);
    background: -ms-linear-gradient(90deg, #ededed 5%, #dfdfdf 100%);
    background: linear-gradient(180deg, #dfdfdf 5%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dfdfdf",endColorstr="#ededed");
}

.row > input[type=submit]:active {
    position:relative;
    top: 1px;
}

.error {
    border-color: red !important;
}

.errorSummary ul li {
    margin-left: 7px;

}

.login-form .footer {
    width: auto;
    height: 20px;
    background: #eee;
    padding: 15px;
    margin: 0px;
    margin-top: 20px;
    -moz-border-radius: 0 0 2px 2px;
    -webkit-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
    border-top: 2px solid #ccc;
    font-size: 18px;
    color: #555;
}


.review-content {
    padding: 7px;
    padding-top: 4px;
    font-size: 14px;
}

.review > h1 {
    font-size: 24px;
    margin: 12px;
}


.news, .review {
    font-size: 14px;
}

.news img, .review img {
    width: auto;
    height: auto;
    max-width: 500px;
    max-height: 1000px;
    float: left;
    margin: 7px;
}

.news .news-content {
    padding: 5px;
}

.news-preview {
    width: 130px;
    max-height: 130px;
    margin: 7px;
    text-align: center;
    float: left;
}

.news-preview img {
    margin: 0px;
    padding: 0px;
}

ul.tags {
    
}

ul.tags > li {
    cursor: pointer;
    background-color: #e0eaf1;
    border-bottom: 1px solid #b3cee1;
    border-right: 1px solid #b3cee1;
    padding: 3px 4px 3px 4px;
    margin: 2px 2px 2px 0;
    text-decoration: none;
    font-size: 90%;
    line-height: 1.4;
    white-space: nowrap;
    display: inline-block;
}

ul.tags > li > a {
    color: #3e6d8e;
    text-decoration: none;
}

ul.tags > li > a:visited {
    color: #4a6b82;
}
